Source: trialcoverage
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: cdbs, debhelper (>= 7), python, python-setuptools, python-setuptools-trial, python-mock, python-central
Standards-Version: 3.8.4
Homepage: http://pypi.python.org/pypi/trialcoverage

Package: python-trialcoverage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-coverage, python-pyutil, python-zope.interface
Description: Integrate Twisted trial with Ned Batchelder's coverage.py

